* {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

/* Botons */

button {
    margin-right: 1rem;
    margin-left: 1rem;
}
.contenedor-botones {
    display: grid;
    grid-template-columns: repeat(5, auto); /* 5 columnas */
    gap: 10px; /* Espacio entre botones */
    padding: 10px;
    }

#exec {
    margin: 1rem;
}


.inputs {
    display: flex;
    flex: 0;
    flex-direction: column;
    padding: 1rem;
}

.terminal {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2rem;
    flex: 1;
    margin: 1rem;
    padding: .5rem;
    border: 1px solid gray;
    background-color: #eee;
    white-space: nowrap;
    overflow: auto;
}